:root {
  --color-primary: #5cad8d;
  --color-secondary: #a0cfbc;
  --color-tertiary: #cfe6dd;
  --color-font: #262626;
  --color-overlay: hsla(156, 33%, 52%, 0.8);
  --color-grey: #c1c1c1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 7rem;
}

a {
  text-decoration: none;
}

p {
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  color: var(--color-font);
}

h2 {
  font-size: clamp(1.75rem, 1.35rem + 2vw, 3.75rem);
  color: var(--color-primary);
  text-align: center;
}

h3 {
  font-size: clamp(1.5rem, 1.05rem + 2.25vw, 3.75rem);
}

h4 {
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
  margin-top: 0.5rem;
}

.primary-color {
  color: var(--color-primary);
}

.container {
  margin: 0 auto;
  width: min(80vw, 1400px);
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
.navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: min(80vw, 1400px);
  z-index: 1000;
}

.logo {
  width: clamp(7.5rem, 6.75rem + 3.75vw, 11.25rem);
}

.menu-btn {
  position: relative;
  background: linear-gradient(
    303deg,
    hsla(156, 33%, 52%, 0.9) 0%,
    hsla(156, 33%, 72%, 0.9) 100%
  );
  width: 48px;
  height: 48px;
  border-radius: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                  menu btn                                  */
/* -------------------------------------------------------------------------- */

.menu {
  position: relative;
}

.menu_burger {
  position: relative;
  width: 60%;
  height: 3px;
  background-color: white;
  border-radius: 100vmax;
  transition: all 250ms ease-in-out;
}

.menu_burger::after,
.menu_burger::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: white;
  border-radius: 100vmax;
  transition: all .3s ease-in-out;
}

.menu_burger::before {
  transform: translateY(-8px);
}

.menu_burger::after {
  transform: translateY(8px);
}

.menu-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  top: calc(48px + 1rem);
  right: 0;
}

.menu-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    98deg,
    hsla(156, 33%, 72%, 0.9) 0%,
    hsla(156, 33%, 52%, 0.9) 100%
  );
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 100vmax;
  width: max-content;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1001;
}

.menu-link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 100vmax;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  z-index: 1002;
}

.menu-link:hover:after {
  opacity: 1;
}

.menu-link:hover{
  color: var(--color-primary);
}

.menu-link span {
  position: relative;
  z-index: 1003;
}

.menu.active .menu-link {
  opacity: 1;
}

.d-none {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                               menu animation start                         */
/* -------------------------------------------------------------------------- */

.menu-btn.open-menu .menu_burger {
  background: transparent;
}

.menu-btn.open-menu .menu_burger::before {
  transform: rotate(45deg) translatex(0);
  width: 100%;
}

.menu-btn.open-menu .menu_burger::after {
  transform: rotate(-45deg) translatex(0);
  width: 100%;
}
/* -------------------------------------------------------------------------- */
/*                               menu animation ends                          */
/* -------------------------------------------------------------------------- */

.header-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.header-img {
  position: relative;
  width: clamp(50rem, 47.5rem + 12.5vw, 62.5rem);
}

.header-container::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: clamp(37.5rem, 35rem + 12.5vw, 50rem);
  height: clamp(37.5rem, 35rem + 12.5vw, 50rem);
  border-radius: 100vmax;
  background: transparent linear-gradient(46deg, #c1c1c1 0%, #ffffff 100%);
}

header {
  background-color: #efefef;
}

.bubble_6 {
  position: relative;
  width: 72px;
  height: 72px;
  bottom: 20%;
  left: 20%;
}

.bubble_6::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: -150%;
  left: 100%;
  width: 96px;
  height: 96px;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

.bubble_6::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: 150%;
  left: -20%;
  width: 48px;
  height: 48px;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

.header-overlay {
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: min(80vw, 1400px);
}

.nav-column {
  display: flex;
  align-items: center;
  margin-top: 100px;
  height: clamp(31.25rem, 24.5rem + 11vw, 37.5rem);
}

.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-item:nth-child(2) {
  align-self: flex-start;
  margin: 0 -16px;
}
.nav-item:nth-child(3) {
  align-self: flex-end;
}

.section-name {
  position: absolute;
  color: var(--color-primary);
  font-size: 24px;
  font-weight: 800;
  transform: translate(-50%, -50%);
  top: 115%;
  left: 50%;
  width: max-content;
}

.nav-item-circle {
  position: relative;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
  width: clamp(8.75rem, 6.3rem + 3.9vw, 11rem);
  height: clamp(8.75rem, 6.3rem + 3.9vw, 11rem);
  border-radius: 100vmax;
  display: grid;
  place-items: center;
  z-index: 1001;
}

.nav-item-circle::after {
  content: "";
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100vmax;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: 1002;
}

.nav-item-circle svg {
  width: 60%;
  fill: white;
  transition: all .3s ease-in-out;
  z-index: 1003;
}

.nav-item:hover .nav-item-circle::after {
  opacity: 1;
}

.nav-item:hover .nav-item-circle svg {
  fill: var(--color-primary);
}

.speech-bubbles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.white-speech-bubble {
  padding: 12px 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 3px 6px #00000030;
}

.speech-bubbles span {
  color: var(--color-grey);
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
}

.soon-text {
  font-size: 16px !important;
}

.speech-bubbles h4 {
  font-size: clamp(2rem, 1.8rem + 1vw, 3rem);
  color: var(--color-font);
  font-weight: 800;
  margin-top: 0;
}

.speech-bubbles p {
  color: var(--color-font);
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
  font-weight: 800;
}
/* -------------------------------------------------------------------------- */
/*                              about-me section                              */
/* -------------------------------------------------------------------------- */

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
  margin: max(100px, 10vw) 0;
}

.about-me > * {
  flex: 1 0 30%;
}

.about-me-img {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  border-radius: 50%;
}

.about-me-text {
  min-width: 300px;
  position: relative;
}

.bubble {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

.bubble_1 {
  width: min(30vw, 300px);
  height: min(30vw, 300px);
  top: 70%;
  left: 80%;
}

.bubble_1::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: -3%;
  left: -10%;
  width: min(10vw, 100px);
  height: min(10vw, 100px);
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

.text-content {
  position: relative;
}

/* -------------------------------------------------------------------------- */
/*                                  UI-Design                                 */
/* -------------------------------------------------------------------------- */

.ui-design {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 max(100px, 10vw) 0;
}

.section-header {
  position: relative;
  margin-bottom: max(8vw, 80px);
}

.icon-header {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: max(6rem, 8vw);
  fill: var(--color-tertiary);
}

.header-text {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.line {
  width: 60px;
  height: 4px;
  border-radius: 100vw;
  background-color: var(--color-primary);
}

/* -------------------------------------------------------------------------- */
/*                              UI-Design Content                             */
/* -------------------------------------------------------------------------- */

.ui-design-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.ui-design-content > * {
  flex: 1 0 45%;
}

.content-box {
  min-width: 300px;
}

.content-img {
  position: relative;
}

.content-img img {
  width: 100%;
  max-height: 458px;
  object-fit: cover;
  border-radius: 16px;
}

.tool-icon {
  height: 40px;
  width: 40px;
}

.content-box p {
  font-size: clamp(1rem, 0.25rem + 1vw, 1.25rem);
}

.tools {
  margin-top: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                              UI-Design Skills                              */
/* -------------------------------------------------------------------------- */

.design-skills {
  margin-top: max(100px, 10vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.design-skills > * {
  flex: 1 0 45%;
}

.skill-text {
  position: relative;
  min-width: 300px;
}

.bubble_2 {
  width: max(100px, 10vw);
  height: max(100px, 10vw);
  top: 5%;
  left: 0;
}

.bubble_2::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: -20%;
  left: 100%;
  width: 50%;
  height: 50%;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

.skill-tools {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 540px;
}

.skill-icon {
  width: clamp(5rem, 4.5rem + 2.5vw, 7.5rem);
  height: clamp(5rem, 4.5rem + 2.5vw, 7.5rem);
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000030;
}

.skill-icon img {
  width: 60%;
  max-height: 80px;
}

/* -------------------------------------------------------------------------- */
/*                                   divider                                  */
/* -------------------------------------------------------------------------- */

.divider {
  margin: 0 auto;
  padding: 104px 0;
  background-color: var(--color-secondary);
  text-align: center;
  box-shadow: 0 0 0 100vmax var(--color-secondary);
  clip-path: inset(0 -100vmax);
  margin-bottom: max(120px, 10vw);
  max-width: 920px;
}

.divider h3 {
  color: white;
  font-size: clamp(1.5rem, 1.1rem + 2vw, 3.5rem);
  padding: 0 16px;
}

.divider p {
  color: var(--color-primary);
}

.divider-text {
  position: relative;
}

.bubble_3 {
  width: 184px;
  height: 184px;
  top: 20%;
  right: -10%;
}

.bubble_3::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: -10%;
  left: -30%;
  width: 112px;
  height: 112px;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

/* -------------------------------------------------------------------------- */
/*                               web-development                              */
/* -------------------------------------------------------------------------- */

.web-development {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 max(100px, 10vw) 0;
}

.web-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.web-content > * {
  flex: 1 0 45%;
}

.web-skills {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.web-skills > * {
  flex: 1 0 45%;
}

.bubble_4 {
  width: max(200px, 16vw);
  height: max(200px, 16vw);
  top: 0;
  left: 10%;
}

.bubble_4::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 40%;
  height: 40%;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

.soon {
  font-weight: 800;
  margin: 20px 0 8px 0;
}

/* -------------------------------------------------------------------------- */
/*                                  divider_2                                 */
/* -------------------------------------------------------------------------- */

.bubble_5 {
  width: 96px;
  height: 96px;
  top: 30%;
  right: 18%;
}

.bubble_5::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: -25%;
  right: -20%;
  width: 64px;
  height: 64px;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

/* -------------------------------------------------------------------------- */
/*                                  creative                                  */
/* -------------------------------------------------------------------------- */

.creative {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 max(100px, 10vw) 0;
}

.creative-content-column {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

.creative-content {
  display: flex;
  align-items: center;
  width: 100%;
  flex-flow: column wrap;
}

.creative-img {
  position: relative;
  max-width: 460px;
  margin-bottom: 0.75rem;
}

.creative-content img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* -------------------------------------------------------------------------- */
/*                                Overlay Links                               */
/* -------------------------------------------------------------------------- */

.overlay-links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 6px;
  background-color: var(--color-overlay);
  border-radius: 16px;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.overlay-links:hover {
  opacity: 1;
}

.overlay-links svg {
  width: clamp(3.75rem, 3rem + 3.75vw, 7.5rem);
  fill: white;
}

.overlay-links a {
  opacity: 0.8;
  transition: all 150ms ease-in-out;
}

.overlay-links a:hover {
  opacity: 1;
}

.vertical-line {
  opacity: 0.8;
  border-radius: 100vmax;
  width: 4px;
  height: clamp(3.75rem, 3rem + 3.75vw, 7.5rem);
  background-color: white;
}

.creative-overlay-text {
  color: white;
  font-size: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
  font-weight: 800;
}

/* -------------------------------------------------------------------------- */
/*                                   @media                                   */
/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {
  .nav-column {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .creative-content-column {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .skill-tools {
    justify-content: center;
  }

  .soon {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .line {
    width: 30px;
    height: 3px;
  }

  .header-text {
    gap: 0.5rem;
  }
}


@media screen and (max-height: 800px) {
  .nav-column {
    display: none;
  }
  .header-container{
    align-items: flex-start;
  }
}