:root {
  --color-primary: #5cad8d;
  --color-secondary: #a0cfbc;
  --color-tertiary: #cfe6dd;
  --color-font: #262626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-size: clamp(1.25rem, 0.5rem + 1vw, 1.5rem);
  color: var(--color-font);
}

h2 {
  font-size: clamp(1.5rem, 2rem + 1vw, 3.75rem);
  color: var(--color-primary);
}

h3 {
  font-size: clamp(1.5rem, 2rem + 1vw, 3.75rem);
}

h4 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.primary-color {
  color: var(--color-primary);
}

.container {
  margin: 0 auto;
  width: 75vw;
}

/* -------------------------------------------------------------------------- */
/*                              about-me section                              */
/* -------------------------------------------------------------------------- */

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
  margin: 180px 0 200px 0;
}

.about-me > * {
  flex: 1 0 45%;
}

.about-me-img {
  width: min(300px, 600px);
  border-radius: 50%;
}

.about-me-text {
  min-width: 300px;
  position: relative;
}

/* .about-me-text p {
  width: max(100%, 400px);
} */

.bubble {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

.bubble_1 {
  width: min(30vw, 300px);
  height: min(30vw, 300px);
  top: 70%;
  left: 80%;
}

.bubble_1::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: -3%;
  left: -10%;
  width: min(10vw, 100px);
  height: min(10vw, 100px);
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

.text-content {
  position: relative;
}

/* -------------------------------------------------------------------------- */
/*                                  UI-Design                                 */
/* -------------------------------------------------------------------------- */

.ui-design {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 180px 0 200px 0;
}

.section-header {
  position: relative;
  margin-bottom: 160px;
}

.icon-header {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 10rem;
  fill: var(--color-tertiary);
}

.header-text {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.line {
  width: 80px;
  height: 4px;
  border-radius: 100vw;
  background-color: var(--color-primary);
}

/* -------------------------------------------------------------------------- */
/*                              UI-Design Content                             */
/* -------------------------------------------------------------------------- */

.ui-design-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.ui-design-content > * {
  flex: 1 0 45%;
}

.content-box {
  min-width: 300px;
}

.content-img {
  position: relative;
}

.content-img img {
  width: 100%;
  max-height: 458px;
  object-fit: cover;
  border-radius: 16px;
}

.tool-icon {
  height: 40px;
  width: 40px;
}

.content-box p {
  font-size: clamp(1rem, 0.25rem + 1vw, 1.25rem);
}

.tools {
  margin-top: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                              UI-Design Skills                              */
/* -------------------------------------------------------------------------- */

.design-skills {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.design-skills > * {
  flex: 1 0 45%;
}

.skill-text {
  position: relative;
  min-width: 320px;
}

.bubble_2 {
  width: 144px;
  height: 144px;
  top: 5%;
  left: 0;
}

.bubble_2::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: -20%;
  left: 100%;
  width: 72px;
  height: 72px;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

.skill-tools {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 540px;
}

.skill-icon {
  width: 120px;
  height: 120px;
  display: grid;
  place-items: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 3px 6px #00000030;
}

.skill-icon img {
  width: 72px;
}

/* -------------------------------------------------------------------------- */
/*                                   divider                                  */
/* -------------------------------------------------------------------------- */

.divider {
  width: 100%;
  padding: 104px;
  background-color: var(--color-secondary);
  text-align: center;
  box-shadow: 0 0 0 100vmax var(--color-secondary);
  clip-path: inset(0 -100vmax);
  margin-bottom: 200px;
}

.divider h3 {
  color: white;
}

.divider p {
  color: var(--color-primary);
}

.divider-text {
  position: relative;
}

.bubble_3 {
  width: 184px;
  height: 184px;
  top: 20%;
  right: -10%;
}

.bubble_3::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: -10%;
  left: -30%;
  width: 112px;
  height: 112px;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

/* -------------------------------------------------------------------------- */
/*                               web-development                              */
/* -------------------------------------------------------------------------- */

.web-development {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 180px 0 200px 0;
}

.web-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.web-content > * {
  flex: 1 0 45%;
}

.web-skills {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.web-skills > * {
  flex: 1 0 45%;
}

.bubble_4 {
  width: 320px;
  height: 320px;
  top: 0;
  left: 10%;
}

.bubble_4::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 112px;
  height: 112px;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

.soon {
  font-weight: 800;
  margin: 24px 0;
}

/* -------------------------------------------------------------------------- */
/*                                  divider_2                                 */
/* -------------------------------------------------------------------------- */

.bubble_5 {
  width: 96px;
  height: 96px;
  top: 30%;
  right: 18%;
}

.bubble_5::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: -25%;
  right: -20%;
  width: 64px;
  height: 64px;
  background: linear-gradient(303deg, #5cad8d 0%, #a0cfbc 100%);
}

/* -------------------------------------------------------------------------- */
/*                                  creative                                  */
/* -------------------------------------------------------------------------- */

.creative {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 180px 0 200px 0;
}

.creative-content-column {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

.creative-content {
  display: flex;
  align-items: center;
  width: 100%;
  flex-flow: column wrap;
}

.creative-img {
  position: relative;
  max-width: 460px;
  margin-bottom: 0.75rem;
}

.creative-content img {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}


/* @media only screen and (max-width: 900px){
  .about-me{
    
  }
} */